@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    outline: none;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
}

body {
    font-size: 2em;
    overflow: hidden;
}

#input-control {
    margin: 0 auto;
    margin-top: 20%;
    width: 400px;
}

input[type=text] {
    background: rgb(39, 40, 34);
    color: #fff;
    display: block;
    font-size: 1.4em;
    padding: 5px;
}

input: -webkit-autofill {
    background: #fff;
}

#no-artist {
    background: #ecd078;
    color: #b7911d;
    display: none;
    padding: 20px;
}

footer {
    color: #ddd;
    font-size: 0.66em;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/* SVG Elements */

.link {
    stroke: #ccc;
}
.node text {
    pointer-events: none;
    font: 20px sans-serif;
}